.show-img {
  width: 25%;
  float: left;
  margin-right: 1em;
}

.show-comp {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 2% 3%;
  width: 60%;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  width: 60%;
}

ul {
  margin-top: 10px;
}

li {
  font-family: 'Roboto', sans-serif;
  width: 70%;
  list-style: none;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: .5em;
}